* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  max-width: 768px;
  margin: 0 auto;
}

code {
    background: #002b36;
    color: #839496;
    padding: 0.2em;
}

blockquote{
    background: #eeeeee;
    font-style: italic;
    padding: 0.2em 1em;
}

.brand-title,
.brand-tagline {
    display: inline;
}

.brand-title {
    font-weight: 400;
    font-size: 3em;
    letter-spacing: -0.2em;
}

.brand-title  a {
    text-decoration: none;
    color: #000000;
}

.brand-tagline {
    font-weight: 100;
    font-size: 1em;
}

.footer .share {
    display: inline;
}
